<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 100%; text-align: center;">Glen Pi Geeks Photobooth 3.0</td>
        </tr>
    </tbody>
</table>
<body>
    <table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 33.3333%; text-align: center;">Reference Picture!</td>
            <td style="width: 33.3333%;"><br></td>
        </tr>
        <tr>
            <td style="width: 33.3333%; text-align: center;">
                Uploaded
                <img height="100" width="100" src=" {{url_for('send_image', filename=image_name)}}">
            </td>
            <td style="width: 33.3333%;"><br></td>
            <td style="width: 33.3333%;"><br></td>
        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
            <td><br></td>
        </tr>
    </tbody>
</table>
</body>
</html>